body {
    background-color: rgb(237, 250, 202);
}

.row {
    margin: 25px 0;
}

.header {
    background-color: aqua;
}

.rules {
    background-color: yellowgreen;
}

.random {
    background-color: bisque;
}

.winslosses {
    background-color: rgb(188, 147, 226);
}


/* .col-3 {
    background: white;
    margin: 2px;
} */