body {
    background-color: rgb(180, 245, 223);
    background-image: url(../images/2.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.row {
    margin: 25px 0;
    border-radius: 20px;
}

.header {
    background-color: aqua;
}

.rules {
    background-color: yellowgreen;
}

.random {
    background-color: bisque;
    border-radius: 20px;
}

.winslosses {
    background-color: rgb(188, 147, 226);
    border-radius: 20px;
}